@media screen and (max-width: 425px) {

    .play-container,
    .nav-items-container,
    .nav-container{
        flex-direction: column;
        height: 0%;
    }
    .nav-container .logo-container{
        margin-top: 103px;
        margin-bottom: 62px;
    }
    .nav-follow{
        margin-bottom: 78px;
    }
    .banner-container{
        flex-direction: column-reverse;
        
    }
    .banner-container .banner-content{
        width: 0px;
        height: 0px;
        margin: 200px auto;
        align-items: center;
    }
    .banner-container img{
        width: 70%;
        padding-left: 50px;
    }

    .card-container{
        flex-direction: column;
        padding: 8%;
    }
    .card p{
        width: 100%;
    }

    .play-container{
        padding: 0px;
        gap: 0px;
    }
    .play-img{
        padding-top: 0px;
    }
    .play-big-img{     
            width: 100%;
            margin-bottom: 28%;
            margin-left: 0%;
    }
    .play-small-img{
       width: 50%;
       height: 100%;
    }


    .btn-player-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 0px;
        margin: 0px;
    }
    .icon-holder {
        gap: 0px;
        border: 1px solid transparent;
    }
    .icon-holder{
        gap: 5px;
    }
    .icon-holder img {
        width: 50px;
        height: 50px;
        padding: 0px;
    }
    .icon h3{
        font-size: 1rem;
    }

    /* .footer-description>ul{
        grid-template-columns: repeat(3,1fr);
    } */

}